# Compiled Object files
*.o

# Cenerated files
config.mk

# Installer artifacts
bin/
lib/
mfiles/
tmp/
# Executables
jack_par
jack_playrec

# Binary packages
*.deb
*.exe
*.pkg

# OS-specific artifats
.DS_Store
